body {
    padding-left: 15px;
    background-color: #f9fbff;
}
 
h1 a {
    color: #FCA205;
    font-family: 'Helvetica';
}
 
.page-header {
    background-color: #0072b7;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}
 
.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}
 
.content {
    margin-left: 40px;
}
 
h1, h2, h3, h4 {
    font-family: 'Helvetica';
}
 
.date {
    color: #828282;
}
 
.save {
    float: right;
}
 
.post-form textarea, .post-form input {
    width: 100%;
}
 
.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 14pt;
    margin-right: 20px;
}
 
 
.post {
    padding-bottom: 40px;
}
 
.post-list .post{
    padding-bottom: 0px;
    padding-left: 40px;
    position: relative;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(218, 221, 222);
}
  
.post h1 a, .post h1 a:visited {
    color: #000000;
}
 
.url {
    font-size: .4em;
}
 
.comment{
    margin: 20px;
}
 
.logout {
    color: #fff;
}
 
.heading{
    clear:both;
}
 
.heading h1{
    display: inline-block;
    margin-left: 20px;
}
 
.cover-image {
    width: 300px;
    max-width: 100%;
    display: inline-block;
}